.ipynb_checkpoints/
__pycache__/
.DS_Store
impact/tmp*
output_data.csv
output_data.json
beams/ImpactBeam.h5
beams/activeBeamFile.h5
beams/patchBeamFile.h5
optimizerHistory.json
beams/optimizerRunning*h5
Manuals/
qpad/
